{
  "presets": [
    "react",
    ["env", {
      "useBuiltIns": true
    }],
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy"
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
